:root { 
	--c1: #d9dad7; 
	--c2: #9b3eff; 
	--c3: #3e4a61; 
	--c4: #1a26397d;
    
    
}

* {
    transition: background-color 0.1s ease, 
                color 0.1s ease, 
                border-color 0.1s ease, 
                background-image 0.1s ease !important;
}

.dark-mode{
    --cd1: #73000a;
    --cd2: #b30000;
    --cd3: #303030;
    --cd4: #000000;
    background-color: var(--cd4);
    border-color: var(--cd1);
    color: var(--cd2);
    background-image:
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
                url(https://wallpapercave.com/wp/wp12699545.png) !important;
}

body {
    background-color: var(--c3);
    background-image:
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
                url(https://c4.wallpaperflare.com/wallpaper/26/399/594/1920x1081-px-1967-mustang-fastback-car-drive-neon-retrowave-synthwave-vehicle-art-skyline-hd-art-wallpaper-preview.jpg) !important;
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;  
    margin: 0;                    
    height: 100vh;   
    color: var(--c2);
    font-family: 'TheGoodMonolith', sans-serif;
    border: solid;
    border-width: 2px;
    border-color: var(--c1);
}

.dark-mode body,
.dark-mode .header-profile,
.dark-mode .link-group,
.dark-mode .about-me,
.dark-mode .projects,
.dark-mode .logs{
	border-color: var(--cd1);
}

button{
    display: flex;
    text-align: left;
   margin: 10px;
    font-size: 60%;
}

.user-logo{
    display: flex;
    text-align: left;
   margin: 10px;
    font-size: 60%;
}

.header-profile{
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: solid;
    border-width: 2px;
    border-color: var(--c1);
   background-color: var(--c4);;
}

.name{
    display: inline-block;
    padding: 10px;
    text-align: left;
   margin: 10px;
   border-width: 2px;
    border-color: var(--c1) !important;
   background-color: var(--c4);;
    border: solid
}

@keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .blinker {
    animation: blink 1s step-start infinite;
  }


.link-group , .about-me , .projects , .logs {
    padding: 10px;
    margin: 10px;
    border: solid;
    border-width: 2px;
    border-color: var(--c1);
    display: inline-block;
    text-align: center;
    background-color: var(--c4);k;
}

.theme-switch {
    width: 60px; height: 30px; margin: 10px; position: relative;
    position: absolute;
  top: 15px;
  right: 10px;
  z-index: 1000;
  }
  .theme-switch input {
    display: none;
  }
  .switch-label {
    display: flex; justify-content: space-between; align-items: center;
    background: var(--cd2); border-radius: 40px; cursor: pointer;
    padding: 0 8px; height: 100%; position: relative;
  }
  .icon {
    font-size: 16px; z-index: 2;
  }
  .ball {
    position: absolute; top: 50%; left: 3px;
    width: 24px; height: 24px; background: #fff;
    border-radius: 50%; transform: translateY(-50%);
    transition: transform 0.3s ease;
    z-index: 1;
  }
  input:checked + .switch-label .ball {
    transform: translate(30px, -50%);
  }
  
  body, .header-profile, .link-group, .about-me, .projects, .logs {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  }

  
  #play-pause {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 5em;
}

#console {
   position: absolute;
  color: var(--c2);
  letter-spacing: 0.15em;
  line-height: 0.75em;
  margin: 0;
  text-align: right;
  align-items: ;
  font-size: 5px;
   right: 40%;
}

.dark-mode #console {
  color: var(--cd2);
}