:root { 
	--c1: #d9dad7; 
	--c2: #9b3eff; 
	--c3: #3e4a61; 
	--c4: #1a26397d;
    
    
}

* {
    transition: background-color 0.1s ease, 
                color 0.1s ease, 
                border-color 0.1s ease, 
                background-image 0.1s ease !important;
}

.dark-mode{
    --cd1: #73000a;
    --cd2: #b30000;
    --cd3: #303030;
    --cd4: #000000;
    background-color: var(--cd4);
    border-color: var(--cd1);
    color: var(--cd2);
    background-image:
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
                url(/darkmode_bg.jpg) !important;
}

body {
    background-color: var(--c3);
    background-image:
                linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
                url(/default_bg.jpg) !important;
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;  
    margin: 0;                    
    height: 100vh;   
    color: var(--c2);
    font-family: 'TheGoodMonolith', sans-serif;
    border: solid;
    border-width: 2px;
    border-color: var(--c1);
}



.dark-mode body,
.dark-mode .header-profile,
.dark-mode .link-group,
.dark-mode .about-me,
.dark-mode .projects,
.dark-mode .logs{
	border-color: var(--cd1) !important;
}

.dark-mode .ball{
  background: var(--cd2);

}

button{
    display: flex;
    text-align: left;
   margin: 10px;
    font-size: 60%;
}

.user-logo{
    display: flex;
    text-align: left;
   margin: 10px;
    font-size: 60%;
}

.header-profile{
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: solid;
    border-width: 2px;
    border-color: var(--c1);
   background-color: var(--c4);;
}

.name{
    display: inline-block;
    padding: 10px;
    text-align: left;
   margin: 10px;
   border-width: 2px;
    border-color: var(--c1) !important;
   background-color: var(--c4);;
    border: solid
}
.name {
	display: inline-block;
    padding: 10px;
    text-align: left;
   margin: 10px;
   border-width: 2px;
	border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
	animation: 10s rotate linear infinite;
  background-color: var(--c4);;
}

@keyframes rotate {
	to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


@keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .blinker {
    animation: blink 1s step-start infinite;
  }


.link-group , .about-me , .projects , .logs {
    padding: 10px;
    margin: 10px;
    border: solid;
    border-width: 2px;
    border-color: var(--c1);
    display: inline-block;
    text-align: center;
    background-color: var(--c4);
}

.theme-switch {
    width: 60px; height: 30px; margin: 10px; position: relative;
    position: absolute;
  top: 8.5px;
  right: 10px;
  z-index: 1000;
  }
  .theme-switch input {
    display: none;
  }
  .switch-label {
    display: flex; justify-content: space-between; align-items: center; border-radius: 40px; cursor: pointer;
    padding: 0 8px; height: 100%; position: relative;
  }
  .icon {
    font-size: 16px; z-index: 2;
  }
  .ball {
    position: absolute; top: 50%; left: 3px;
    width: 24px; height: 24px; background: var(--c2);
    border-radius: 50%; transform: translateY(-50%);
    transition: transform 0.3s ease;
    z-index: 1;
  }
  input:checked + .switch-label .ball {
    transform: translate(30px, -50%);
  }
  
  body, .header-profile, .link-group, .about-me, .projects, .logs {
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  }

  
  #play-pause {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 5em;
  display: none;
}

#console {
   position: absolute;
  color: var(--c2);
  letter-spacing: 0.15em;
  line-height: 0.75em;
  margin: 0;
  text-align: center;
  font-size: 5px;
  top: 0;
  right: 0;
   top: 50px;
}

.dark-mode #console {
  color: var(--cd2);
}