---
import Layout from '@layouts/Layout.astro';
import TopSection from '@components/TopSection.astro';
import ProfileSection from '@components/ProfileSection.astro';
import BottomSection from '@components/BottomSection.astro';
---

<Layout title="John W.">
  <div class="min-w-[535px] max-w-screen-sm mx-auto py-16 px-8 selection:bg-gray-600 selection:text-white">
    <header>
      <ProfileSection />
      <TopSection />
    </header>
    <main>
    </main>
    <footer>
      <BottomSection />
    </footer>
  </div>
</Layout>
