---
import ProjectCard from '@components/ProjectCard.astro'
import Astro from '@assets/icons/astro.astro';
---

<section class="my-20">
  <h2 class="text-2xl font-semibold mb-2">Projects</h2>
  <hr class="mb-6 border-zinc-600">

  <ProjectCard projectTitle="Site Launched" projectDescription="Launched my own devlog using Github Pages and Astro" projectLink="https://github.com/Varagan77/Varagan77.github.io" image="/images/party-popper-med.png">
    <Astro />
  </ProjectCard>


</section>